:root {
  // --primary: #222831;
  // --secondary: #353a42;
  // --green: #00ADB5;
  // --white: #EEE;
  // --shadow: #00000056;

  --primary: #C9D6DF;
  --secondary: #F0F5F9;
  --grey: #52616B;
  --white: #eee;
  --black: #111;
  --shadow: #00000056;
}
